@import url('window_play.css');
@import url('window_settings.css');

html, body {
  margin: 0;
}
body {
  font-size: 1rem;
}

h1 {
  margin: 0 0 1rem 0;
}

p {
  font-size: inherit;
}
/* override top-drawer background color */
section[role="region"] > header:first-child {
  background-color: #008E8A;
}
.hiddenwindow {
  display: none;
}
#drawer {
  background-color: black
}

#drawer > header > h1 {
  text-transform: capitalize;
}

/* override drawer style and stuff
 * this allows scrolling below drawer, while
 * the header stayes fixed:

$("#drawer").style.overflowY = "scroll"; $("#drawer > header").style.position = "fixed";   $("#drawer > header").style.width = "100%";  $("#main").style.paddingTop = "5rem"
 */
#drawer { overflow-y: scroll; }
#drawer > header { position: fixed; width: 100%; }
#main { padding-top: 5rem; }

/*
 * Volumebar CSS
 */

input[name="volume"] {
  background-color: black;
  margin: 0;
  padding: 0;
  border: 0;
  height: 3.5rem;
}

input[name="volume"]::-moz-range-track {
  background-color: #222;
  height: 4px;
}

#volbar {
  color: white;
  font-size: 3em;
  width: 100%;
  background-color: rgba(0,0,0,0.7);
  position: fixed;
  z-index: 9;
  border-bottom: .3rem solid #01c5ed;
}
#volbar > div {
  width: 83%;
  margin-right: 1rem;
  float: right;
  height: 3.5rem;
}

.animate-show {
  margin-top: 5rem;
}

.animate-show.ng-hide-add.ng-hide-add-active,
.animate-show.ng-hide-remove.ng-hide-remove-active {
  -webkit-transition: all ease-out 0.5s;
  transition: all ease-out 0.5s;
}

.animate-show.ng-hide {
  margin-top: 0;
}

#volbar > a {
  margin-left: 1rem;
  color: #01c5ed;
}
#volbar input[name="volume"] {
  background: none;
}

#volbar input[name="volume"]:focus {
  box-shadow: none;
}
/* end volbar */

#pushbottom {
  height: 4rem;
}

/* stolen from the buildingblocks demo app ;D 
 * 
 * data-position=right some nested page with a < arrow 
 * =back something that is hidden behind visible content and will be faded in
 * =edit-mode - header and a toolbar will slide in - not needed?
 */
[data-position="right"] {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform: translateX(100%);
  -webkit-transform: translateX(100%);
  z-index: 15;
  z-index: 100; /* -> drawer */
}
section[role="region"][data-position="right"] {
  position: absolute;
}
[data-position="right"].current {
  animation: rightToCurrent 0.4s forwards;
  -webkit-animation: rightToCurrent 0.4s forwards;
}
[data-position="right"].right {
  animation: currentToRight 0.4s forwards;
  -webkit-animation: currentToRight 0.4s forwards;
}
[data-position="current"].left {
  animation: currentToLeft 0.4s forwards;
  -webkit-animation: currentToLeft 0.4s forwards;
}
[data-position="current"].current {
  animation: leftToCurrent 0.4s forwards;
  -webkit-animation: leftToCurrent 0.4s forwards;
}
[data-position="back"] {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  opacity: 0;
  /* z-index: 100; -> drawer */
}
[data-position="back"].fade-in {
  z-index: 120;
  animation: fadeIn 0.2s forwards;
  -webkit-animation: fadeIn 0.2s forwards;
}
[data-position="back"].fade-out {
  animation: fadeOut 0.2s forwards;
  -webkit-animation: fadeOut 0.2s forwards;
}

[data-position="edit-mode"] {
  position: absolute;
  top: -5rem;
  left: 0;
  right: 0;
  bottom: -7rem;
  z-index: -1;
  opacity: 0;
  transition: all 0.3s ease;
}
[data-position="edit-mode"].edit {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 120;
  opacity: 1;
}
