#coverimage {
  margin: 5px;
  margin-top: 15px;
  text-align: center; 
  padding: 2px;
}
#coverimage > img {
  max-width: 95%;
  margin-top: 4rem;
  box-shadow: 0px 0px 10px rgba(150,150,150,0.6);
}

#playerStatus {
  font-size: 12pt;
  color:white;
  background-color:black;
  clear: both;
}
#playingInfo {
  position: fixed;
  margin-top: -13px;
  width: 100%;
  background-color: rgba(0,0,0,0.8);
}
#playingArtist {
  padding-left: 2rem;
}
#playingTitle {
  padding-left: 2rem;
  font-weight: bold;
}
#playingInfo > em {
  float: right;
  margin-right: 2rem;
  margin-top: 3px;
}
#playingInfo > div {
  float: left;
  width: 70%;
}
#flip_container {
  position: relative;
  width: 100%;
  height: 281px;
  z-index: 1;
  perspective: 1000px;
}
#flip_card {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all .5s linear;
  backface-visibility: hidden;
}
.performtransition {
  transform: rotateY(-180deg);
}
.face {
  /*position: absolute;*/
  width: 100%;
  height: 100%;
  background-color: black;
  color:white;
}
.face.back {
  /*display: block;*/
  position: absolute;
  top: 0;
  transform: rotateY(180deg);
  box-sizing: border-box;
  padding: 10px;
  color: white;
  background-color: black;
  backface-visibility: hidden;
}

/* animation for the now playing indicator in the playlist */
.np-anim {
  -moz-animation: nowplayicon 2s infinite linear;
}

@-moz-keyframes nowplayicon {
  0% {
    -moz-transform: translateY(0px);
  }
  25% {
    -moz-transform: translateY(3px);
  }
  50% {
    -moz-transform: translateY(0px);
  }
  75% {
    -moz-transform: translateY(-3px);
  }
  100% {
    -moz-transform: translateY(0px);
  }
}
